.scrapbook-container{
    margin: 10px auto;
    min-height: 85vh;
    position: relative;
    width: 80vw;
}

.scrapbook-image{
    width: 23%;
    border: 10px solid #fff;
    position: absolute;
    filter: grayscale(70%);
}

.scrapbook-image:hover{
    filter: grayscale(0%);
}